@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Volkhov:ital,wght@0,400;0,700;1,400;1,700&display=swap');
*,
*::before,
*::after{
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}
.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1920px;
    height: 999px;
}
body {
    margin: 0;
}
.volkhov-bold {
  font-family: "Volkhov", serif;
  font-weight: 700;
  font-style: normal;
  
}
.logo {
    gap: 0.5rem;
    color: #222222;
    font-size: 24px;
}
.flex-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header {
    margin: 0 auto;
    width: 1170px;
    height: 114px;
}
button {
    border: none;
    background-color: white;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
}
.nav {
    display: flex;
    justify-content: space-between;
    width: 386px;
    height: 24px;
    color: #222222;
}
.action {
    gap: 3rem;
}
.no-bg-btn {
    color: #fd8d3a;
    width: 44px;
    height: 24px;
    font-weight: 600;
}
.bg-btn {
    width: 160px;
    height: 50px;
    color: white;
    background-color: #fd8d3a;
    border-radius: 5px;
    font-weight: 600;
}
.content-part {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.content-sec {
    display: flex;
    flex-direction: column;
    width: 521px;
    height: 486px;
    gap: 48px;
}
.content-sec1 {
    color: #fd8d3a;
}
.content-one { 
    color: #222222;
    font-size: 64px;
    height: 210px;
    width: 521px;
}
.content-two {
    color: #222222;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-size: 20px;
    width: 497px;
    height: 120px;
    line-height: 40px;
}
.discover-btn {
    width: 178px;
    height: 60px;
    border: 1px solid #fd8d3a;
    color: #fd8d3a;
    background-color: white;
    border-radius: 5px;
    font-weight: 600;
}
content-img {
    width: 785px;
    height: 585px;
}
.search-bar {
    width: 841px;
    height: 124px;
    display: flex;
    padding: 20px 20px 20px 20px;
}
.search-content {
    width: 793px;
    height: 60px;
    padding: 20px;
}
.explore-btn {
    width: 165px;
    height: 60px;
    color: white;
    background-color: #fd8d3a;
    border-radius: 5px;
    font-weight: 600;
}
.search-txt {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1px;
    color: #222222;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-size: 16px;
    font-weight: 600;
}
.st-sub {
    color: #222222;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-size: 16px;
    font-weight: 300;
}
.main-one {
    width: 1920px;
    height: 724px;
    padding-left: 300px;
    padding-right: 250px;
    padding-top: 180px;
    padding-bottom: 180px;
    /* padding: 180px; */
    background-color: #F7F8FC;
}
.one-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.t-c-0 {
    display: flex;
    flex-direction: column;
}
.t-c {
    width: 521px;
    height: 54px;
    color: #222222;
    font-family: "Volkhov", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 42px;
}
.t-c-1 {
    color: #fd8d3a;
}
.t-c-2 {
    width: 482px;
    height: 64px;
    color: #222222;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-size: 16px;
    font-weight: 200;
}
.ele-logo {
    width: 179.9px;
    height: 130.73px;
}
.two-content {
    display: flex;
    flex-direction: row;
    gap: 30px;
}
.main-two {
    width: 1920px;
    height: 960px;
    background-color: #FEFCFB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.e-d-1 {
    width: 675px;
    height: 142px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 30%;
}
.e-d-c-1 {
    color: #222222;
    font-family: "Volkhov", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 48px;
}
.e-d-c-2 {
    color: #fd8d3a;
}
.e-d-c-3 {
    width: 433px;
    height: 64px;
    color: #222222;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-size: 18px;
    font-weight: 200;
}
.e-d-2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    width: 1170px;
    height: 426px;
}
.card-1{
    width: 270px;
    height: 426px;
    background-color: #FEFCFB;
}
.c-c-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.price {
    display: flex;
    width: 238px;
    height: 28px;
    align-items: center;
    justify-content: space-between;
}
.c-c-2 {
    display: flex;
    align-items: center;
    gap: 5px;
    align-items: left auto;
}
.c-c-3 {
    position: relative;
    right: 0;
}
.discounted-price {
    width: 52px;
    height: 28px;
    color: #fd8d3a;
    background-color: #FFE7DB;
    border-radius: 5px;
    font-weight: 600;
}
.e-d-3 {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    width: 104px;
    height: 40px;
    position: relative;
    left: 50%;
}
.btn-left {
    width: 40px;
    height: 40px;
    background-color: white;
    color: gray;
    border: 2px solid gray;
    border-radius: 50%;
    font-weight: 600;
    font-size: 25px;
    line-height: 20px;
    text-align: center;
}
.btn-right {
    width: 40px;
    height: 40px;
    background-color: #fd8d3a;
    color: #ffffff;
    border-radius: 50%;
    font-weight: 600;
    font-size: 25px;
    line-height: 20px;
    text-align: center;
}
.main-three {
    width: 1920px;
    height: 893px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.v-1 {
    display: flex;
    gap: 20px;
}
.v-1-c {
    display: flex;
    flex-direction: column;
    gap: 14px;
}
.v-1-s1 {
    color: #222222;
    font-family: "Volkhov", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 48px;
}
.v-1-s2 {
    color: #222222;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-size: 18px;
    font-weight: 200;
}
.v-2 {
    width: 112px;
    height: 40px;
    gap: 20px;
    display: flex;
    position: relative;
    padding: 0;
    left: 27%;
}
.v-3 {
    display: flex;
    flex-direction: row;
    gap: 30px;
}
.card-2 {
    width: 370px;
    height: 447px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.v-c-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.vp-2 {
    display: flex;
    align-items: center;
}
.v-c-2 {
    display: flex;
    align-items: center; 
    justify-content: space-between;
    gap: 5px;
    padding: 0;
}
.rome-img {
    width: 369px; 
    height: 327px;
    position: relative;
    right: 22%;     
}
.main-four {
    width: 1920px;
    height: 596px;
    background-color: #F7F8FC;
    display: flex;
    justify-content: center;
    align-items: center;
}
.m-4-0 {
    width: 1103px;
    height: 356px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.m-4-01 {
    width: 394px;
    height: 268px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.v-2-1 {
    width: 112px;
    height: 40px;
    gap: 20px;
    display: flex;
    position: relative;
    padding: 0;
    right: 100%;
    gap: 20px;
}
.m-4-1 {
    display: flex;
    flex-direction: column;
    gap: 0;
    height: 356px;
}
.m-4-11 {
    position: relative;
    left: 10%;
    top: 50px;
    /* align-content: center;
    justify-content: center; */
}
.m-4-12 {
    position: relative;
    left: 20%;
    bottom: 90px;
    
}
.m-4-2 {
    position: relative;
    left: 0;
    bottom: 100px;
}
.main-five {
    width: 1920px;
    height: 805px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FEFCFB;
    gap: 30px;
}
.m-5-0 {
    color: #222222;
    font-family: "Volkhov", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 48px;
}
.m-5-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.card-3 {
    width: 270px;
    height: 388px;
    color: #222222;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-size: 18px;
    font-weight: 200;
}
.main-six {
    width: 1920px;
    height: 898px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: space-between;
}
.mail {
    width: 1170.25px;
    height: 416px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: space-evenly;
    background-color: #fd8d3a;
    color: #ffffff;
    gap: 30px;
    border-radius: 5px;
    background-image: url(./asset/Sub\ Element.png);
    background-repeat: no-repeat;
    background-position: left bottom;
}
.mail-con {
    width: 708px;
    height: 124px;
    color: white;
    font-family: "Volkhov", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 48px;
    justify-content: center;
    align-content: center;
}
.mail-con-1 {
    position: relative;
    left: 30%;
}
.mail-box {
    width: 674px;
    height: 68px;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-radius: 5px;
}
.email-input {
    width: 120px;
    height: 25px;
    border: none;
    color: #222222;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-size: 16px;
    font-weight: 400;
    position: relative;
    top: 10px;
}
.sub-btn {
    width: 132px;
    height: 50px;
    color: white;
    background-color: #fd8d3a;
    border-radius: 5px;
    font-weight: 600;
}
.m-6-img {
    width: 1170.25px;
    height: 416px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(./asset/Sub\ Element\ 2.png);
    background-repeat: no-repeat;
    background-position: right top;
    position: relative;
    bottom: 280px;
}
.m-6-0 {
    width: 1170.25px;
    height: 416px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 50px;
}
.m-6-01 {
    width: 254px;
    height: 176px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.m-6-02 {
    width: 598px;
    height: 210px;
}
.m-6-01-content {
    color: #666666;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-size: 16px;
    font-weight: 500;
}
.logo-footer {
    position: relative;
    right: 130px;
}
.m-6-01-icon {
    width: 176px;
    height: 48px;
    display: flex;
    justify-content: space-between;
}
.m-6-02 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
}
.m-6-company {
    width: 140px;
    height: 210px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: space-evenly;
    color: #666666;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-size: 16px;
    font-weight: 500;
}
h1 {
    margin-top: 0;
    color: #222222;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-size: 20px;
    font-weight: 600;
}
.footer {
    width: 1172px;
    height: 24px;
    display: flex;
    justify-content: space-between;
    color: #666666;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-size: 16px;
}